/*NAV*/

nav{
    position: relative; 
    width:25%; 
    padding: 8px; 
    position: fixed; 
    top:0; 
    left:0; 
    bottom: 0; 
    box-shadow: 1px 2px 5px darkgrey; 
    z-index: 3; 
    background: white;     
    min-width: 280px }
nav > span{
    display: none;
    position: absolute;
    top: 0; right:0; 
    width: 30px; height: 30px; }
nav > span > ion-icon{
    font-size: 1.5em;
    display: table; margin: 1.5px auto;
    cursor: pointer; }

nav > .logo{ width:100%; }
nav > .logo img{ display: block; max-width:150px; margin: auto;}

nav > .login{
    display: table;
    margin: auto;
    margin-top: 25px;
    padding: 10px;
    font-weight: bold;
    color: white;
    background-color: rgb(68, 216, 158);
    border-radius: 5px;
    font-size: 0.95em;
    text-transform: uppercase;
    border: 0; }

nav .user-nav{
    position: relative;
    display: table;
    margin: auto;
    margin-top: 15px; }
nav .user-nav > img{
    display: inline-block; 
    width: 50px;
    height: 45px;
    vertical-align: top;
    overflow: hidden; }
nav .user-nav > span{
    display: inline-block; width:auto; 
    margin-left: 10px;
    padding: 0px 8px; 
    line-height: 35px;
    letter-spacing: 0.5px;
    font-size: 0.95em;
    font-weight: bold;
    color: white;
    background-color: rgb(68, 216, 158);
    border-radius: 5px;
    vertical-align: bottom;
    cursor: pointer; }
nav .user-nav >div{
    display: table;
    position: absolute;
    right: 0;
    padding: 8px 0; }
nav .user-nav > div > a{
    display: none;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 1;
    padding: 5px 8px;
    color: white;
    background-color:rgba(3, 180, 198, 0.8);
    border-radius: 3px; }

.nav{
    position: absolute; 
    bottom: 8px; 
    left:8px; 
    right:8px; 
    height: 75%;
    background: url(../background-nav.jpg); 
    background-attachment: fixed; 
    background-size: contain; 
    background-origin: content-box; }
.nav > li{ width: 100%; padding: 0;}
.nav > li:last-child{ position: absolute; bottom: 0; border-top: 0.5px solid floralwhite }

.nav > li > a{
    display: block;
    padding: 10px 50px; 
    font-size: 0.9em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: floralwhite;
    border-bottom: 0.5px solid }
.nav > li > a:hover{ background: #57CC99; }

.nav .block{ display: none; background-color: whitesmoke; }
.nav .block ul li a{
    display: block;
    padding: 10px 50px;
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #22577A;
    border-bottom: 0.5px solid rgb(20 142 155 / 80%) }
.nav .block ul li a:hover{ background:rgba(3, 180, 198, 0.8); color: white; }

.fake{ width: 30%; }

/*MAIN*/

.mainpage{ 
    position: relative; 
    display: block; 
    width:70%; 
    height:auto; 
    margin: 25px 2% 0 2%; }

#showNav{
    display: none;
    position: absolute;
    top: -10px; left:0; 
    width: 30px; height: 30px; }
#showNav ion-icon{
    font-size: 1.5em;
    display: table; margin: 1.5px auto;
    cursor: pointer; }

.mainpage .hideMain{
    display: none;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: grey;
    opacity: 0.8;
    z-index: 2; }

/*INDEX*/

.bref{
    width: 80%;
    padding: 15px;
    margin: auto;
    margin-bottom: 15px;
    background-color:aliceblue;
    opacity: 0.9;
    border-radius: 2; }
.bref > h4 {
    padding: 0 35px;
    line-height: 35px;
    letter-spacing: 0.5px;
     word-spacing: 1px;
    color: black;
    text-shadow: 1px 2px 3px white;
    background-color:white }
.bref > p{
    display: table;
    margin: auto;
    padding: 8px;
    line-height: 35px;
    text-align: left;
    letter-spacing: 0.5px;
    word-spacing: 1px;  
    max-width: 80%; }
.welcom > .secondP>strong{
    font-size: 0.9em; }
.index-contains{
    display: table;
    margin: auto;
    min-width: 80%;
    padding: 8px 10px;
    margin-bottom: 25px;
    vertical-align: top; }
.index-contains h3{
    padding: 8px;
    font-weight: bold;
    opacity: 0.9;
    text-transform: uppercase;
    font-size: 0.9em;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    color: floralwhite;
    background: rgba(3, 180, 198, 0.8); }
.index-contains ul li a{
    display: block;
    margin: 5px 0;
    padding: 5px 8px;
    color: rgb(20 142 155 / 80%);
    border-bottom: 0.5px solid rgb(20 142 155 / 80%) }
.index-contains ul li a:hover{
    color: white;
    background-color: rgb(20 142 155 / 80%); }

/*GARDS*/
.top-nav > a:hover{ background:rgb(20 142 155 / 80%);}
.top-nav > ul a:hover{ color:white; background-color:rgb(20 142 155 / 80%);}

/* display ifram pharmacaygards */

.iframeitem{
    width: 80%;
    margin: auto; }
.iframeitem > a{ 
    display: inline-block;
    width: 47.5%;
    padding: 8px 15px;
    margin:0 1% 15px 1%;
    font-weight: 500;
    border-radius: 2px;
    background-color:rgba(3, 180, 198, 0.8); color:white }
.iframeitem>a:hover{ background:rgb(20 142 155 / 80%);}

/*GEST PHARMACIES*/
.getion-pharma{
    width:80%;
    margin: auto; }
.getion-pharma  div{
    padding: 8px;
    margin-bottom: 10px; }
.getion-pharma  div > .label{ display: table;}
.getion-pharma  div >label{ color:darkslategrey; }
.getion-pharma div > input[type="text"], .getion-pharma div > select{
    display: block;
    width:100%;
    padding: 5px 8px;
    border: 0.5px solid darkslategrey;
    border-radius: 3px; }

/*EDIT*/
.edit, .add{ width:80%; margin:auto; }
.edit .contains, .add .contains{ 
    padding: 8px 15px;
    margin-bottom: 15px;
    background:aliceblue;
    border-radius: 2px; }

.add .contains:nth-child(10){ background: white;}
.add .contains:nth-child(9){ margin-bottom: 25px!important;} 

.edit .contains:nth-child(9){ background: white;}
.edit .contains:nth-child(8){ margin-bottom: 25px!important;} 

.contains input[type="text"],.contains select{
    width: 100%;
    padding: 8px 10px;
    border-radius: 3px; }

.message, .submessage{ margin-bottom: 15px; }

.message .success > h4, .message .fails > h4, .submessage .fails > h4{
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding:4px 0;
    text-align: center;
    color: white;
    border-radius: 2px; }
.message .fails > h4,  .submessage .fails > h4{ background:rgba(243, 26, 26, 0.795); }
.message .success > h4{ background: rgb(68, 216, 158); }

.message .fails > p, .message .success > p,  .submessage .fails > p{
    font-size: 1em;
    font-weight: bold;
    padding: 8px 0;
    text-align: center; }
.message .fails > p,  .submessage .fails > p{ color: rgba(243, 26, 26, 0.795); }
.message .success > p{ color: rgb(68, 216, 158); }
.addgarde, .deletePharma{ width:80%; margin:auto; }

.addgarde label, .deletePharma label{ display: block; color:darkslategrey; }
.addgarde input[type="text"], .addgarde input[type="datetime-local"], .addgarde select, .deletePharma input[type="text"]{
    display: block;
    width: 100%;
    padding: 8px 10px;
    border-radius: 3px;
    border: 1px solid darkslategrey; }
.addgarde input[type="submit"], .deletePharma input[type="submit"]{
    display: table;
    margin: 15px 0; }

.listed{
    padding: 8px 15px;
    margin-bottom: 25px;
    background:aliceblue;
    border-radius: 2px; }
.inside-listed{
    height: 150px;
    overflow-y: hidden; }
.listed > a{
    display: block;
    padding: 8px 0;
    text-align: center;
    color: white;
    background: rgba(3, 180, 198, 0.8);
    border-radius: 2px;;
}
.listed p{
    padding: 5px ;
    background: white;
}
/*INFOS SCRAPPER*/
.updateinfos{
    width: 100%;
    margin: auto;
}
.updateinfos  th{
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    vertical-align: top;
    text-align: center;
    background: rgba(3, 180, 198, 0.8);
}
.h3-updateinfos{
    font-weight: bold;
    color: rgb(20 142 155 / 80%);
}
.updateinfos > .tbody > tr > td{ font-size: 0.9em; }

/*ADMIN SCRAPPER*/
.scrapper-div{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 15px auto;
}
.scrapper-div > a{
    font-size: 16px;
    padding: 8px 15px;
    color: rgb(20 142 155 / 80%);
}
.affiche{
    width: 80%;
    margin: auto;
}

/*LOGIN REGISTER*/

/*RESET*/
body{
    display: flex;
    flex-direction: row; }
.colors{ color:white; }
.colors:hover{background:rgb(20 142 155 / 80%)!important;}

table{ width: 100%; border-collapse: collapse; }
table tr:nth-child(even){background-color:aliceblue}
table tbody tr:hover {background-color:aliceblue;}
table tbody tr{font-size: 0.9em}
table td, table th{ max-width: 150px!important; text-align:center; border: 1px solid #ddd; padding: 8px; }
table th { padding-top: 12px; padding-bottom: 12px; text-align: left; color: white;}
table td p{ text-overflow: ellipsis; white-space: nowrap; overflow: hidden:}




/*_active-nav-element_*/
.active-nav-element{ background: #57CC99; }
.active{ background-color: rgb(20 142 155 / 80%); color: white }

.h3{
    max-width:80%;
    margin:15px auto;
    font-size: 0.95em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 8px 25px;
    color: white;
    border-radius: 2px;
    background: rgb(20 142 155 / 80%)
}

.submit{
    font-size: 0.95em;
    letter-spacing: 0.5px;

    padding: 8px 15px;
    
    text-transform: capitalize;
    cursor: pointer;

    color: white;
    background: rgba(3, 180, 198, 0.8);
    
    border:0;
    border-radius: 2px;
}
.submit:hover{
    background: rgb(20 142 155 / 80%);
}
/***** COLORS
    green rgb(68, 216, 158)
    blue rgba(3, 180, 198, 0.8)
    hover rgb(20 142 155 / 80%)
*****/
